# В данной конфигурации - секреты хранятся в закрытом каталоге ~/.secret в виде файлов со значением ключа
# Т.е. в .env в корне репозитория или в папке проекта вы прописываете:
# API_KEY = "~/.secret/api_key" например для OPENROUTER_API_KEY см. .config:50
OPENROUTER_API_KEY = "~/.secret/openrouter_api_key"
# Или прописываете сразу API_KEY = value. Но так менее удобно
OPENROUTER_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
# Система поймет как интерпритировать значение
# Важно - для ключа в файле значение пути файла должно начинаться с ["~", "./", "/"]
# --------------
# LLM_PROVIDER - Имя провайдера из .config:48 для автоматического выбора при старте скрипта
LLM_PROVIDER = "Olama"
